body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  
}
#content-header {
  width: 1024px;
  margin: auto;

}

#logo {
  padding: 25px;
  background-color: rgb(17, 28, 36);
  height: 50px;
  margin: 0;
  padding: 0;
  width: auto;
  background-position: center;
}

picture > img {
  padding: 10px 0 10px 150px;
}
header {
  background-image: url(imagens/topo.jpg);
  height: 550px;
  background-position: top center;
  background-repeat: no-repeat;
  margin: 0%;
  border-top: 1px solid;

}
ul {
  text-align: right;
  position: relative;
  padding: 30px 0 25px 0;
  margin: 0;
  width: 99%;
  bottom: 50px;
}
li {
  list-style: none;
  display: inline-block;
  position: relative;
  padding: 25px 0 25px 0;
  margin: 0;
  right: 90px;
  width: auto;
  bottom: 40px;
}
a {
  text-decoration: none;
  color: rgb(78, 86, 100);
  text-transform: uppercase;
  font-size: 12px;
  width: auto;
  padding: 15px;
  letter-spacing: 2px;
}

a:hover {
  color: cornsilk;
}

.portfolio-section {
  width: 100%;
  display: flex;
  justify-content: center;
  border: 3 solid red;
}

.portfolio {
  width: 50%;
  margin:0 60px 40px 60px;
}
.portfolio > h1 {
  padding: 10px;
  text-transform: uppercase;
  font-size: 32px;
  text-align: center;
}
.portfolio > p {
  line-height: 2.3;
  font-size: 16px;
  text-align: center;
  color: rgb(97, 97, 97);
}

.gallery {
  padding: 10px;
  margin-top: 15px;
  overflow: auto;
  display: flex;
  justify-content: center;
}

.model {
  width: 50%;
  float: left;
}

.model img {
  width: 100%;
  display: block;
}

.modelo1,
.modelo2,
.modelo3 {
  width: 250px;
  margin: 15px;
}

.model h3 {
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-transform: uppercase;

  letter-spacing: 2px;
}

.model p {
  text-align: center;
  margin-top: -10px;
  color: rgb(97, 97, 97);
  font-size: 13px;
  letter-spacing: 1.5px;
  margin-bottom: 50px;
}

.about-section {
  width: 100%;
  display: flex;
  justify-content: center;
}

.section-color {
  background-color: rgb(15, 61, 80);
  width: 900px;
  margin: 0;
  padding: 0;
  background-position: center; 
  display: flex;
  align-items: center;   
}

.about {
  background-image: url(imagens/bg_detalhe.png);
  height: 500px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 400px;
  border: 3px solid transparent;
}

.about h1 {
  color: white;
  font-weight: lighter;
  text-transform: uppercase;
}

.line1 {
  text-align: left;
  margin-bottom: 0;
  margin-top: 100px;
  margin-left: 80px;
  font-size: 40px;
}
.line2 {
  text-align: left;
  margin-top: 0;
  font-size: 40px;
  margin-left: 80px;
}

.about p {
  color: white;
  line-height: 1.5;
  font-weight: lighter;
  width: 56%;
  text-align: left;
  margin: 0 0 80px 80px;

}

#contact {
  text-align: center;
  color: rgb(19, 41, 61);
  text-transform: uppercase;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
}

.contact1 {
  margin-top: 80px;
}
.contact2 {
  margin-top: -20px;
  margin-bottom: 80px;
}

iframe {
  width: 900px;
  margin-bottom: 60px;
  height: 400px;
  padding: 0;
  border: 0;
}

footer {
  background-color: rgb(17, 28, 36);
  padding: 15px;
  text-align: center;
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: lighter;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 11px;
}
